---
# Offline Mode
offline_install: false

# Update samba packages if already installed
upgrade_samba_packages: true

# Manage Firewall
manage_firewall: true

# Roles
domain_member: true
cluster_member: false

# Join Method
# join_method: sssd|winbind
join_method: 'sssd'
# Join Authorization
# join_auth: kerberos|password
join_auth: 'kerberos'
join_user: ''
join_password: ''
# Domain Name
realm: ''
workgroup: ''
# Server Name
# This varible is ignored when not a cluster member and NetBIOS name is set to the hostname of the server
netbios_name: 'CTDBCLUSTER'

auto_id_mapping: true
enumerate_ids: false
fully_qualified_names: false

# Enable windows side permissions
enable_windows_acl: true
share_admins:
  - "Domain Admins"

# ctdb 
ctdb_public_addresses:
  - vip_address: '192.168.200.89'
    vip_interface: 'enp59s0f0'
    subnet_mask: '16'

# backend_filesystem: cephfs|zfs|generic
backend_filesystem: zfs
shared_storage_mountpoint: /mnt/cephfs