[legacy]
    #realtime scheduling = true will cause ctdb to fail when docker containers are running
    realtime scheduling = false

[cluster]
{% if 'cephfs' == backend_filesystem %}
{% if ansible_os_family in ['RedHat'] %}
    recovery lock = !/usr/libexec/ctdb/ctdb_mutex_ceph_rados_helper ceph client.samba cephfs_metadata {{ ctdb_lock_name }}
{% elif ansible_os_family == 'Debian' %}
    recovery lock = !/usr/lib/x86_64-linux-gnu/ctdb/ctdb_mutex_ceph_rados_helper ceph client.samba cephfs_metadata {{ ctdb_lock_name }}
{% endif %}
{% else %}
    recovery lock = {{ shared_storage_mountpoint }}/ctdb/.{{ ctdb_lock_name }}
{% endif %}
