Name: {{ name }}
Version: {{ version }}
Release: {{ build_number }}%{?dist}
Summary: {{ description }}
License: {{ license }}
URL: {{ git_url }}
Source0: %{name}-%{version}.tar.gz
BuildArch: {{ architecture.rocky }}
Requires: {{ dependencies.rocky_common | join(',') }}

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

%description
{{ title }}
{{ description }}

%prep
%setup -q

%build

%install
make DESTDIR=%{buildroot} install

%files
/usr/share/samba-ansible/*

%changelog
* Thu Dec 11 2025 Brett Kelly <bkelly@45drives.com> 1.1.9-1
- Resolved issue where script would attempt to install Ceph repos when not a cluster
  member.
* Fri Dec 05 2025 Brett Kelly <bkelly@45drives.com> 1.1.8-1
- Fixed issue in purge playbook relating to wrong var and added var to smbs.yml for
  cephfs_metadata pool names.
* Tue Sep 23 2025 Brett Kelly <bkelly@45drives.com> 1.1.7-1
- Added task for ensuring /etc/krb5.conf.d/ exists in response to NCR 360761.
* Fri Apr 25 2025 Brett Kelly <bkelly@45drives.com> 1.1.6-1
- Modified variables for the ceph stable repo and the mon group name so they're now
  set directly in the group_vars file. Altered the task for creating the samba.client
  user to fix issue on Rocky9/Ubuntu22.